body {
    /* Nueva imagen de fondo para un ambiente de misterio */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/misterio.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #1a202c; /* Fondo de respaldo negro */
    transition: none;
}
